body {
    background: url("../img/knitting250px_@2X.png");
    font-family: 'Junge', serif;
}

#image, #directions {
    width: 850px;
    margin: auto;
}

#table {
    width: 700px;
    margin: auto;
}

#directions, #table {
    background: rgba(197, 197, 197, .5);
    padding: 10px;
}

#image, #table {
    text-align: center;
}

form.signin {
    width: 330px;
    margin:50px auto;
    background: rgba(197, 197, 197, .5);
    padding: 10px;
}
form.signin input.form-control {
    margin-bottom: 5px;
}
form.signin input.btn {
    margin-top: 15px;
}

#dimage {
    height: 300px;
    width: auto;
    margin: 20px;
}