{% extends 'base.html' %}

{%block body%}
    <div id="directions">
        Instructions:
        <ol>
        <li>Take a photo of your chart with your computer's camera by clicking the "Take Snapshot" button. Verify that it is not blurry.</li>
        <li>Select the radio button indicating if your chart has wrong-side rows that are knit even or if they are patterned.</li>
        <li>Click "Process" to get written directions.</li>
        </ol>
    </div>
    <br />
    <div id="image">
        <p><video autoplay></video></p>
        <form><input type="button" id="snapshot" value="Take Snapshot"/></form>
        <canvas id="canvas" width="640" height="500"></canvas> 
    </div>
    <br />
    <div id="directions">
        Please select the chart type:<br />
        <form>
            <input type="radio" name="wsrows" value="even" checked="checked"> Work even on wrong-side rows</input><br />
            <input type="radio" name="wsrows" value="patterned"> Wrong-side rows are patterned</input><br /><br />
            Please enter a title for your chart:<br />
            <input type="text" name="title" placeholder="Title of chart"><br />
            <input style="float: left;" type="button" id="send" value="Process"/><div style="float: left" id="loading"></div><br />
        </form>
    </div>
    <br />


    <!-- <script src="http://code.jquery.com/jquery-2.0.3.js"></script> -->
    <script type="text/javascript" src="/static/js/jquery-2.0.3.min.js"></script>
    <script type="text/javascript">

    if(navigator.webkitGetUserMedia!=null) { 
        var options = { 
            video:true 
        }; 
         
        //request webcam access 
        navigator.webkitGetUserMedia(options, function(mediaStream) { 
                //get the video tag 
                var video = document.querySelector('video'); 
                //turn the stream into a magic URL 
                video.src = window.URL.createObjectURL(mediaStream); 
            }, 
            function(e) { 
                alert("The application is unable to access your camera!"); 
            } 
        ); 
    } 

    var img = document.createElement("img");

    $("#snapshot").click(function() { 
        var video = document.querySelector("video"); 
        var canvas = document.getElementById("canvas"); 
        var ctx = canvas.getContext("2d"); 
        ctx.drawImage(video,0,0, 640, 500);
        img.src = canvas.toDataURL("image/png");
    }) 


    $("#send").click(function() {
        var file = img.src;
        var fd = new FormData();
        fd.append("imageNameHere", file);
        
        //check which radio button is selected
        var buttonVal = $("input[name=wsrows]:checked").val();
        var title = $("input:text").val()

        //load spinner on button click
        $("#loading").html("<img src='/static/img/ajax-loader.gif' />");
        
        $.post('/directions', {"img": file, "buttonVal": buttonVal, "title": title}, function(response){
            // get rid of spinner with server response returned
            $("#loading").html("");
            // redirect page to directions for the image
            window.location.replace("/directions?filename=" + response);

        })
    })

    </script>

{%endblock%}