{% extends 'base.html' %}

{% block body %}
<form class="signin", method="post">
    <h2 class="signin-heading">Register a new account</h2>
    <input type="text" class="form-control" placeholder="Username" name="username">
    <input type="email" class="form-control" placeholder="Email" name="email">
    <input type="password" class="form-control" placeholder="Password" name="password">
    <input type="password" class="form-control" placeholder="Verify Password" name="password_verify"><br />
    <input type="submit" value="Submit">
</form>
{% endblock %}