<html>
<head>
    <title></title>
</head>
<body>

    <video autoplay></video> <canvas id="canvas" width="640" height="500"></canvas> 

    <form><input type="button" id="snapshot" value="snapshot"/></form> 
    <form><input type="button" id="send" value="send"/></form>

    <script src="http://code.jquery.com/jquery-2.0.3.js"></script>
    <script type="text/javascript">

    function hasGetUserMedia() {
      return !!(navigator.getUserMedia || navigator.webkitGetUserMedia ||
                navigator.mozGetUserMedia || navigator.msGetUserMedia);
    }

    if (hasGetUserMedia()) {
        var errorCallback = function(e) {
            console.log('Reeeejected!', e);
          };

          // Not showing vendor prefixes.
          navigator.webkitGetUserMedia({video: true}, function(localMediaStream) {
            var video = document.querySelector('video');
            video.src = window.URL.createObjectURL(localMediaStream);

            // Note: onloadedmetadata doesn't fire in Chrome when using it with getUserMedia.
            // See crbug.com/110938.
            video.onloadedmetadata = function(e) {
              // Ready to go. Do some stuff.
            };
          }, errorCallback);
    } else {
      alert("The application is unable to access your camera!");
    }
    
    var img = document.createElement("img");

    $("#snapshot").click(function() { 
        var video = document.querySelector("video"); 
        var canvas = document.getElementById("canvas"); 
        var ctx = canvas.getContext("2d"); 
        ctx.drawImage(video,0,0, 640, 500);
        // var img = document.createElement("img");
        img.src = canvas.toDataURL("image/png");
        document.body.appendChild(img);
    }) 


    $("#send").click(function() {
        var file = img.src;
        var fd = new FormData();
        fd.append("imageNameHere", file);
        
        $.post('/imgtest', {"img": file}, function(response){
            console.log("Yay!");
            console.log(response);
        })
    })

    </script>

</body>
</html>